/*

*/
*{
    margin:0;
    font-family: Aclonica;
}
html{
    display: block;
    background-color: black;
}
/*
    ///NAVBAR
*/
.navbar{
    width: 100%;
}
.navbar-title-container{
    border: 2px solid red;
    width: 30%;
    float: left;
    margin-left:10%;
}
#title{
    font-size: 34px;
    padding-top: 12px;
    color: white;
    width: 100%;
    float: left;
}
.nav-links-container{
    border: 2px solid blue;
    width: 50%;
    float: left;
    margin-top: 15px;
}
#nav-links{
    float: right;
}

#nav-links > a {
    padding-right: 10px;
    background-image: none;
    text-decoration: none;
    color: white;
    font-size: 15px;
    
}

#nav-links > a:hover {
    color: #FF9052;
    cursor: pointer;
}

#connect-wallet{
    display: inline-block;
    background-image: none;
    border: none;
    background-color: #2c37a2;
    color: white;
    font-size: 15px;
    border-radius: 12px;
    padding-top:6px;
    padding-bottom: 1px;
    width: 150px;

}

#connect-wallet:hover{
    color: white;
    cursor: pointer;
}

/*
    ///MAIN
*/
.main-container{
    border: 2px solid red;
    float: left;
    width: 80%;
    margin-left:10%;
    height: 530px;
}
.main-text{
    float: left;
    border: 2px solid blue;
    width: 50%;
    top: 35px;
    text-align: center;
}
#main-title{
    color: #FF9052;
    font-size: 70px;
    margin-top:200px;
    font-weight:bold;
}

#title-text{
    font-size: 40px;
    color: white;
    margin-top:15px;

    
}
#avatar-button{
    font-size: 20px;
    margin-top:20px;
    width: 250px;
    height: 50px;
    border-radius: 15px 50px;
    background-color: #2c37a2;
    color: white;
    padding-top: 2px;
}
#avatar-button:hover{
    cursor: pointer;
}

.land-container{
    float: left;
    border: 2px solid red;
    width: 49.4%;
    height: 450px;
    text-align: center;
}
#land{
    width: 800px;
    left: 50%;
    margin-top:-35px;
    border: 2px solid green;
}